<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
		<section name="brail" type="Castle.MonoRail.Views.Brail.BrailConfigurationSection, Castle.MonoRail.Views.Brail" />
	</configSections>

	<connectionStrings>
		<add name="Main" connectionString="Data Source=testsql.analit.net;Database=Analit;User ID=system;Password=newpass;Connect Timeout=300;ConnectionLifeTime=300;convert zero datetime=yes;Default command timeout=300;Allow User Variables=true;" />
	</connectionStrings>

	<log4net>
		<appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="Analit.Net.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<maximumFileSize value="1MB" />
			<encoding value="UTF-8" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{dd.MM.yyyy HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<root>
			<level value="WARN" />
			<appender-ref ref="LogFile" />
		</root>

		<logger name="NHibernate" additivity="false">
			<level value="OFF" />
		</logger>
	</log4net>

	<system.web>
		<authentication mode="Forms">
			<forms cookieless="AutoDetect" loginUrl="Login/" protection="All" requireSSL="false" timeout="400" />
		</authentication>
		<compilation debug="true" strict="false" explicit="true" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
		<httpRuntime requestValidationMode="2.0" />
	</system.web>

	<activerecord isWeb="true" pluralizeTableNames="true">
		<config>
			<add key="connection.driver_class" value="NHibernate.Driver.MySqlDataDriver" />
			<add key="dialect" value="NHibernate.Dialect.MySQLDialect" />
			<add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
			<add key="connection.connection_string_name" value="Main" />
			<add key="hbm2ddl.keywords" value="none" />
		</config>
	</activerecord>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<urlCompression doStaticCompression="false" doDynamicCompression="false" />
		<defaultDocument>
			<files>
				<clear />
			</files>
		</defaultDocument>
		<modules>
			<add name="active-record" type="Castle.ActiveRecord.Framework.SessionScopeWebModule, Castle.ActiveRecord.Web" preCondition="managedHandler" />
			<add name="routing" type="Castle.MonoRail.Framework.Routing.RoutingModuleEx, Castle.MonoRail.Framework" />
		</modules>
		<handlers>
			<clear />
			<add name="CSS" path="*.css" verb="*" type="System.Web.StaticFileHandler" />
			<add name="GIF" path="*.gif" verb="*" type="System.Web.StaticFileHandler" />
			<add name="HTM" path="*.htm" verb="*" type="System.Web.StaticFileHandler" />
			<add name="JS" path="*.js" verb="*" type="System.Web.StaticFileHandler" />
			<add name="JPG" path="*.jpg" verb="*" type="System.Web.StaticFileHandler" />
			<add name="PNG" path="*.png" verb="*" type="System.Web.StaticFileHandler" />
			<add name="EXE" path="*.exe" verb="*" type="System.Web.StaticFileHandler" />
			<add name="TXT" path="*.txt" verb="*" type="System.Web.StaticFileHandler" />
			<add name="ICO" path="*.ico" verb="*" type="System.Web.StaticFileHandler" />

			<add name="Route" path="*" verb="*" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" />
		</handlers>
	</system.webServer>
	<brail>
		<import namespace="Boo.Lang.Builtins" />
		<import namespace="System.Web" />
	</brail>
</configuration>
