[submodule "src/Common.Web.UI"]
	path = src/Common.Web.UI
	url = ssh://git.analit.net/var/www/git/Common.Web.UI
[submodule "src/Common.Tools"]
	path = src/Common.Tools
	url = ssh://git.analit.net/var/www/git/Common.Tools/
[submodule "lib/MonoRail.Debugger.Toolbar"]
	path = lib/MonoRail.Debugger.Toolbar
	url = ssh://git.analit.net/var/www/git/MonoRail.Debugger.Toolbar/
[submodule "src/Common.MySql"]
	path = src/Common.MySql
	url = ssh://git.analit.net/var/www/git/Common.MySql
