<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<configSections>
		<section name="activerecord"
		         type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
	</configSections>

	<connectionStrings>
		<add name="Main"
		     connectionString="Data Source=localhost;Database=Analit;User ID=root;Password=;Connect Timeout=300;pooling=true;convert zero datetime=yes;Allow User Variables=true;" />
	</connectionStrings>

	<activerecord pluralizeTableNames="true">
		<config>
			<add key="connection.driver_class" value="NHibernate.Driver.MySqlDataDriver" />
			<add key="dialect" value="NHibernate.Dialect.MySQLDialect" />
			<add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
			<add key="connection.connection_string_name" value="Main" />
			<add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle"/>
			<add key="hbm2ddl.keywords" value="none" />
			<add key="format_sql" value="true" />
			<add key="use_sql_comments" value="true" />
		</config>
	</activerecord>

</configuration>